function Keys.keyLeft 0
    push constant 130
    return
function Keys.keyUp 0
    push constant 131
    return
function Keys.keyRight 0
    push constant 132
    return
function Keys.keyDown 0
    push constant 133
    return