function Main.main 5
    push constant 100
    pop local 4
    push constant 16
    call Map.new 1
    pop local 3
    push local 3
    call Map.setMap 1
    pop temp 0
    push local 3
    call Map.draw 1
    pop temp 0
    push constant 23
    push constant 23
    call Point.new 2
    push local 3
    call Pacman.new 2
    pop local 0
    push constant 16
    push constant 224
    call Point.new 2
    push local 3
    call Enemy.new 2
    pop local 1
    push local 1
    push constant 1
    neg
    call Enemy.draw 2
    pop temp 0
    push local 0
    call Pacman.draw 1
    pop temp 0
label Main_0
    push constant 1
    neg
    not
    if-goto Main_1
    call Keyboard.keyPressed 0
    pop local 2
    push pointer 0
    push local 2
    call Main.isMovementKey 2
    not
    if-goto Main_3
    push local 0
    push local 2
    call Pacman.setDirection 2
    pop temp 0
    push local 0
    call Pacman.draw 1
    pop temp 0
    push local 1
    call Enemy.setDirection 1
    pop temp 0
    push local 1
    push constant 1
    neg
    call Enemy.draw 2
    pop temp 0
    push local 1
    push local 0
    call Enemy.getPlayerLocation 2
    pop temp 0
    push local 1
    call Enemy.isPlayerCatch 1
    not
    if-goto Main_5
    push pointer 0
    call Main.stopGame 1
    pop temp 0
    call Sys.halt 0
    pop temp 0
    goto Main_4
label Main_5
label Main_4
    goto Main_2
label Main_3
label Main_2
    push local 4
    call Sys.wait 1
    pop temp 0
    goto Main_0
label Main_1
    push constant 0
    return
function Main.isMovementKey 0
    push argument 0
    pop pointer 0
    push argument 1
    call Ascii.keyLeft 0
    eq
    push argument 1
    call Ascii.keyUp 0
    eq
    or
    push argument 1
    call Ascii.keyRight 0
    eq
    or
    push argument 1
    call Ascii.keyDown 0
    eq
    or
    return
function Main.stopGame 0
    push argument 0
    pop pointer 0
    call Screen.clearScreen 0
    pop temp 0
    push pointer 0
    call Main.drawLoseMessage 1
    pop temp 0
    push constant 0
    return
function Main.drawLoseMessage 4
    push argument 0
    pop pointer 0
    push constant 16
    call Array.new 1
    pop local 0
    push constant 0
    push local 0
    add
    push constant 32
    call String.new 1
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 1
    push local 0
    add
    push constant 32
    call String.new 1
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 2
    push local 0
    add
    push constant 32
    call String.new 1
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 3
    push local 0
    add
    push constant 32
    call String.new 1
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 4
    push local 0
    add
    push constant 32
    call String.new 1
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 5
    push local 0
    add
    push constant 32
    call String.new 1
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 6
    push local 0
    add
    push constant 32
    call String.new 1
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 7
    push local 0
    add
    push constant 32
    call String.new 1
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 8
    push local 0
    add
    push constant 32
    call String.new 1
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 9
    push local 0
    add
    push constant 32
    call String.new 1
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 10
    push local 0
    add
    push constant 32
    call String.new 1
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 11
    push local 0
    add
    push constant 32
    call String.new 1
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 12
    push local 0
    add
    push constant 32
    call String.new 1
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 13
    push local 0
    add
    push constant 32
    call String.new 1
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 14
    push local 0
    add
    push constant 32
    call String.new 1
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 15
    push local 0
    add
    push constant 32
    call String.new 1
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 0
    pop local 2
label Main_6
    push local 2
    push constant 16
    lt
    not
    if-goto Main_7
    push constant 0
    pop local 1
    push local 2
    push local 0
    add
    pop pointer 1
    push that 0
    pop local 3
label Main_8
    push local 1
    push constant 32
    lt
    not
    if-goto Main_9
    push local 3
    push local 1
    call String.charAt 2
    call Ascii.one 0
    eq
    not
    if-goto Main_11
    push local 1
    push constant 16
    call Math.multiply 2
    push local 2
    push constant 16
    call Math.multiply 2
    push constant 16
    push local 1
    call Math.multiply 2
    push constant 15
    add
    push constant 16
    push local 2
    call Math.multiply 2
    push constant 15
    add
    call Screen.drawRectangle 4
    pop temp 0
    goto Main_10
label Main_11
label Main_10
    push local 1
    push constant 1
    add
    pop local 1
    goto Main_8
label Main_9
    push local 2
    push constant 1
    add
    pop local 2
    goto Main_6
label Main_7
    push constant 0
    return