function Main.main 6
    push constant 16
    call Map.new 1
    pop local 5
    push local 5
    call Map.draw 1
    pop temp 0
    push constant 24
    push constant 24
    call Point.new 2
    push local 5
    call Pacman.new 2
    pop local 0
    push local 0
    call Pacman.draw 1
    pop temp 0
label Main_0
    push constant 1
    neg
    not
    if-goto Main_1
    call Keyboard.keyPressed 0
    pop local 4
    push local 0
    push local 4
    call Pacman.changeMove 2
    pop temp 0
    push local 0
    call Pacman.draw 1
    pop temp 0
    push constant 50
    call Sys.wait 1
    pop temp 0
    goto Main_0
label Main_1
    push constant 0
    return