function Map.new 3
    push constant 2
    call Memory.alloc 1
    pop pointer 0
    push argument 0
    pop this 0
    push this 0
    push this 0
    call Math.multiply 2
    call Array.new 1
    pop this 1
    push this 0
    push this 0
    call Math.multiply 2
    push this 0
    sub
    push constant 1
    sub
    pop local 1
    push constant 0
    pop local 0
label Map_0
    push local 0
    push this 0
    push this 0
    call Math.multiply 2
    lt
    not
    if-goto Map_1
    push local 0
    push this 0
    call MathUtils.remainder 2
    pop local 2
    push local 0
    push this 0
    lt
    push local 0
    push local 1
    gt
    or
    push local 2
    push constant 0
    eq
    or
    push local 2
    push this 0
    push constant 1
    sub
    eq
    or
    not
    if-goto Map_3
    push local 0
    push this 1
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    goto Map_2
label Map_3
    push local 0
    push this 1
    add
    push constant 0
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
label Map_2
    push local 0
    push constant 1
    add
    pop local 0
    goto Map_0
label Map_1
    push constant 4
    push constant 16
    call Math.multiply 2
    push constant 5
    add
    push this 1
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push pointer 0
    return
function Map.draw 3
    push argument 0
    pop pointer 0
    push constant 0
    pop local 0
label Map_4
    push local 0
    push this 0
    push this 0
    call Math.multiply 2
    lt
    not
    if-goto Map_5
    push local 0
    push this 1
    add
    pop pointer 1
    push that 0
    push constant 0
    eq
    not
    if-goto Map_7
    push constant 0
    call Screen.setColor 1
    pop temp 0
    goto Map_6
label Map_7
    push constant 1
    neg
    call Screen.setColor 1
    pop temp 0
label Map_6
    push local 0
    push this 0
    call Math.divide 2
    push constant 16
    call Math.multiply 2
    pop local 2
    push local 0
    push this 0
    call MathUtils.remainder 2
    push constant 16
    call Math.multiply 2
    pop local 1
    push local 1
    push constant 256
    lt
    push local 2
    push constant 256
    lt
    and
    not
    if-goto Map_9
    push local 1
    push local 2
    push local 1
    push constant 15
    add
    push local 2
    push constant 15
    add
    call Screen.drawRectangle 4
    pop temp 0
    goto Map_8
label Map_9
label Map_8
    push local 0
    push constant 1
    add
    pop local 0
    goto Map_4
label Map_5
    push constant 0
    return
function Map.getItemByScreenCoords 3
    push argument 0
    pop pointer 0
    push argument 1
    push constant 16
    lt
    push argument 2
    push constant 16
    lt
    or
    push argument 1
    push constant 247
    gt
    or
    push argument 2
    push constant 247
    gt
    or
    not
    if-goto Map_11
    push constant 1
    return
    goto Map_10
label Map_11
label Map_10
    push argument 1
    push constant 16
    call Math.divide 2
    pop local 0
    push argument 2
    push constant 16
    call Math.divide 2
    pop local 1
    push local 1
    push constant 16
    call Math.multiply 2
    push local 0
    add
    push this 1
    add
    pop pointer 1
    push that 0
    pop local 2
    push local 0
    call Output.printInt 1
    pop temp 0
    push local 1
    call Output.printInt 1
    pop temp 0
    push constant 1
    call String.new 1
    push constant 32
    call String.appendChar 2
    call Output.printChar 1
    pop temp 0
    push local 2
    return
function Map.getSize 0
    push argument 0
    pop pointer 0
    push this 0
    return
function Map.getMap 0
    push argument 0
    pop pointer 0
    push this 1
    return
function Map.dispose 0
    push argument 0
    pop pointer 0
    push pointer 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return