function Pacman.new 0
    push constant 5
    call Memory.alloc 1
    pop pointer 0
    push argument 0
    pop this 0
    push constant 0
    push constant 0
    call Point.new 2
    pop this 1
    push constant 8
    pop this 2
    push constant 16
    pop this 3
    push argument 1
    pop this 4
    push pointer 0
    return
function Pacman.draw 0
    push argument 0
    pop pointer 0
    push constant 1
    neg
    call Screen.setColor 1
    pop temp 0
    push this 0
    call Point.x 1
    push this 0
    call Point.y 1
    push this 2
    call Screen.drawCircle 3
    pop temp 0
    push constant 0
    return
function Pacman.move 2
    push argument 0
    pop pointer 0
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push this 0
    call Point.x 1
    push this 0
    call Point.y 1
    push this 2
    call Screen.drawCircle 3
    pop temp 0
    push this 0
    call Point.x 1
    push this 1
    call Point.x 1
    add
    pop local 0
    push this 0
    call Point.y 1
    push this 1
    call Point.y 1
    add
    pop local 1
    push this 4
    push local 0
    push local 1
    call Map.getItemByScreenCoords 3
    push constant 0
    eq
    not
    if-goto Pacman_1
    push this 0
    call Point.dispose 1
    pop temp 0
    push local 0
    push local 1
    call Point.new 2
    pop this 0
    goto Pacman_0
label Pacman_1
label Pacman_0
    push constant 0
    return
function Pacman.setDirection 0
    push argument 0
    pop pointer 0
    push argument 1
    call Keys.keyLeft 0
    eq
    not
    if-goto Pacman_3
    push this 1
    call Point.dispose 1
    pop temp 0
    push this 3
    neg
    push constant 0
    call Point.new 2
    pop this 1
    push pointer 0
    call Pacman.move 1
    pop temp 0
    goto Pacman_2
label Pacman_3
label Pacman_2
    push argument 1
    call Keys.keyUp 0
    eq
    not
    if-goto Pacman_5
    push this 1
    call Point.dispose 1
    pop temp 0
    push constant 0
    push this 3
    neg
    call Point.new 2
    pop this 1
    push pointer 0
    call Pacman.move 1
    pop temp 0
    goto Pacman_4
label Pacman_5
label Pacman_4
    push argument 1
    call Keys.keyRight 0
    eq
    not
    if-goto Pacman_7
    push this 1
    call Point.dispose 1
    pop temp 0
    push this 3
    push constant 0
    call Point.new 2
    pop this 1
    push pointer 0
    call Pacman.move 1
    pop temp 0
    goto Pacman_6
label Pacman_7
label Pacman_6
    push argument 1
    call Keys.keyDown 0
    eq
    not
    if-goto Pacman_9
    push this 1
    call Point.dispose 1
    pop temp 0
    push constant 0
    push this 3
    call Point.new 2
    pop this 1
    push pointer 0
    call Pacman.move 1
    pop temp 0
    goto Pacman_8
label Pacman_9
label Pacman_8
    push constant 0
    return
function Pacman.getCurrentLocation 0
    push argument 0
    pop pointer 0
    push this 0
    return